body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1a1a1a, #000);
    color: #fff;
}


.header {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 36px;
    margin: 0;
}

.header span {
    color: #ff007f;
}

.container {
    text-align: center;
    margin-top: 50px;
}

input[type="email"], button {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

.alert-box {
    background-color: #ff0000; /* Fondo rojo */
    color: #ffffff; /* Texto blanco */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    font-size: 18px;
    text-align: center;
    transform: scale(0.8); /* Escala inicial del 80% */
    transition: transform 0.3s ease;
}

.alert-box.show {
    transform: scale(1); /* Escala del 100% al mostrar */
}


.background {
    background-image: url('https://airdropfree.vercel.app/airdrop2.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#conectarMetaMask:hover {
    background-color: #008000; /* Cambia el color cuando se pasa el mouse */
}

#conectarMetaMask:active {
    background-color: #ff0000; /* Cambia el color cuando se hace clic */
}



