body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1a1a1a, #000);
    color: #fff;
}


.header {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 36px;
    margin: 0;
}

.header span {
    color: #ff007f;
}

.container {
    text-align: center;
    margin-top: 50px;
}

input[type="email"], button {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

.alert-box {
    background-color: #ff007f;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.background {
    background-image: url('https://airdropfree.vercel.app/airdrop2.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#conectarMetaMask {
    background-color: #000; /* Establece el color inicial en negro */
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* Permite que el botón sea centrado horizontalmente */
    margin: 0 auto; /* Centra el botón horizontalmente */
    text-align: center;
}
@keyframes cambioColor {
    0% { background-color: #000; } /* Negro */
    33.33% { background-color: #008000; } /* Verde */
    66.67% { background-color: #ff0000; } /* Rojo */
    100% { background-color: #000; } /* Negro */
}
#conectarMetaMask{
    animation: cambioColor 3s infinite; /* 3 segundos para un ciclo completo, puedes ajustar la duración según tus preferencias */
}
#conectarMetaMask: hover {
    color: black;
}
