body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #1e314b, #141e30); /* Fondo degradado oscuro */
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background: linear-gradient(to right, #8B0000, #4B0082); /* Color rojizo oscuro degradado */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #45a049; /* Cambia el color de fondo al hacer hover */
}
